<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.backeddemo.mapper.LinkMapper">

    <select id="list" resultType="Link">
        SELECT * FROM link ORDER BY sort ASC, id ASC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO link (name, url, group_name, sort)
        VALUES (#{name}, #{url}, #{groupName}, #{sort})
    </insert>

    <update id="update">
        UPDATE link
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="url != null">url = #{url},</if>
            <if test="groupName != null">group_name = #{groupName},</if>
            <if test="sort != null">sort = #{sort},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM link WHERE id = #{id}
    </delete>

</mapper>
